In [1]:
value_tuple = (26,45,'hello',7.5)
value_tuple

(26, 45, 'hello', 7.5)

In [4]:
value_tuple[2] = "python"

TypeError: 'tuple' object does not support item assignment

In [5]:
value_tuple2 = (34,56,5,3)
value_tuple3 = value_tuple + value_tuple2
value_tuple3

(26, 45, 'hello', 7.5, 34, 56, 5, 3)

In [6]:
value_tuple2 = (34,56,5,3)
value_tuple3 = value_tuple ,value_tuple2
value_tuple3

((26, 45, 'hello', 7.5), (34, 56, 5, 3))

In [65]:
value_tuple2 = value_tuple2+("Haidar",)
value_tuple2

(34, 56, 5, 3, 'Haidar', 'Haidar', 'Haidar', 'Haidar')

In [69]:
tuple_to_list = list(value_tuple2)
tuple_to_list.append(7)
value_tuple2=tuple(tuple_to_list)
value_tuple2

(34, 56, 5, 3, 'Haidar', 'Haidar', 'Haidar', 'Haidar', 7, 7, 7, 7)

In [71]:
value_multiple = ("Haidar",6.7,34)*2
value_multiple

('Haidar', 6.7, 34, 'Haidar', 6.7, 34)

In [ ]:
n = int(input())
input_tuple = ()
type(input_tuple)
for i in range(n):
    input_tuple = input_tuple+(input(),)

input_tuple

In [78]:
n = int(input())
list1 = []
for i in range(n):
    list1.append(input())

t1 = tuple(list1)
t1

 3
 23
 1223
 1

('23', '1223', '1')

In [1]:
number = ("one","two","Three","four")
i = 0
while i<len(number):
    print(number[i])
    i+=1

one
two
Three
four

In [2]:
for i in number:
    print(i)

one
two
Three
four

In [12]:
value_tuple = (26,12,10,6,67,91,45,'hello',7.5,99,7,"name")

for i in range(len(value_tuple)):
    if value_tuple[i] == 45:
        print(value_tuple[i])
        print(i)

45
6

In [14]:
a,b,c,d=number
print(a,b,c,d)

one two Three four

In [24]:
(*a,b,c) = number
print(a,b,c)

['one', 'two'] Three four

In [28]:
for x in [1,2]:
    for y in [3,4]:
        print(x,y)

1 3
1 4
2 3
2 4

In [31]:
# [[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]
# 1x
# 1y
# 1z
l1 = []
x = 1
y = 1
z = 2
for i in range(0,x+1):
 or j in range(0,y+1):
        for k in range(   f0,z+1):
            print([i,j,k])

[0, 0, 0]
[0, 0, 1]
[0, 0, 2]
[0, 1, 0]
[0, 1, 1]
[0, 1, 2]
[1, 0, 0]
[1, 0, 1]
[1, 0, 2]
[1, 1, 0]
[1, 1, 1]
[1, 1, 2]

In [39]:
list1 = [[i,j,k] for i in range(0,x+1) 
,for j in range(0,y+1) 
,for k in range(0,z+1)]

SyntaxError: invalid syntax (2936541464.py, line 2)