In [1]:
empty_tuple = ()
print(empty_tuple)

()

In [2]:
value_tuple = 45,56,67
print(value_tuple)

(45, 56, 67)

In [4]:
tuple_mix_data = (56,"Hello",True)
tuple_mix_data

(56, 'Hello', True)

In [6]:
tuple_1 = ("hello",)
print(tuple_1)

('hello',)

In [1]:
value_tuple = (34,56,"hello")
value_tuple[1] = 7
value_tuple

TypeError: 'tuple' object does not support item assignment

In [12]:
value_tuple1 = (34,56,"hello")
value_tuple2 = "haidar",67,78
value_tuple1 = value_tuple1+value_tuple2
value_tuple1

(34, 56, 'hello', 'haidar', 67, 78)

In [13]:
value_tuple1 = (34,56,"hello")
value_tuple2 = "haidar",67,78
value_tuple3 = value_tuple1,value_tuple2
value_tuple3

((34, 56, 'hello'), ('haidar', 67, 78))

In [14]:
t1 = (26,45,"hello") * 2
t1

(26, 45, 'hello', 26, 45, 'hello')

In [7]:
del(t1[1])

TypeError: 'tuple' object doesn't support item deletion

In [3]:
#built in Function

tuple  = (0,1)
print(all(tuple))
print(any(tuple))

False
True

In [6]:
t1 = (0,)
print(any(t1))
t2 = ()
print(any(t2))

False
False

In [4]:
t1 =  (26,45,"hello")
t2 = (7,5.6,"python")

t3 = t1,t2
t3

((26, 45, 'hello'), (7, 5.6, 'python'))

In [6]:
t1*2

(26, 45, 'hello', 26, 45, 'hello')