In [18]:
a = [0]*5
print([a])

[[0, 0, 0, 0, 0]]

In [20]:
letter = ['a','b','c','d']
stg = ['python','list']
conc = letter+stg
print(conc)

['a', 'b', 'c', 'd', 'python', 'list']

In [31]:
list_1 = [1,2,3,4]
a,b,c,d=list_1
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [39]:
a =1
b =2
x = "WE ARE DATA SCIENTIST"
x[::2]

# print(a,b)

'W R AASINIT'

In [4]:
n = int(input("Enter the number of elements: "))
l1 = list(map(int, input(f"Enter {n} numbers separated by space: ").split()))
print("The entered list is:", l1)
max_number = max(l1)
max_number

Enter the number of elements:  3
Enter 3 numbers separated by space:  34 56 43

The entered list is: [34, 56, 43]

56

In [10]:
n = int(input("Enter the number of elements: "))
l2 = list(map(int,input().split()))
sum(l2)

Enter the number of elements:  3
 10 20 30

60

In [17]:
n = int(input("Enter any Numbetr"))
l2 = list(map(int,input().split()))
l2 = l2[:n]
l3 = []
for i in l2:
    if i not in l3:
        l3.append(i)
print(l2)
len(l3)

Enter any Numbetr 6
 34 45 34 45 34 12 4 56 4

[34, 45, 34, 45, 34, 12]

3

In [18]:
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = [x for x in fruits if "a" in x]

['apple', 'banana', 'mango']

In [19]:
x,y=[int(x) for x in input().split()]
print(x)
print(y)

 45 556

45
556

In [20]:
x=[int(x) for x in input().split()]
print(x)

 34 56 45 454

[34, 56, 45, 454]