In [3]:
size_list = int(input("Enter size of list 1"))
list_element = []
for i in range(size_list):
    list_element.append(int(input()))
print(list_element)   
size_list2 = int(input("Enter size of list 2"))
list_element2 = []
for i in range(size_list2):
    list_element2.append((int(input())))
print(list_element2)

Enter size of list 1 4
 34
 45
 56
 45

[34, 45, 56, 45]

Enter size of list 2 4
 34
 45
 67
 56

[34, 45, 67, 56]

In [4]:
a = int(input())
b = list(map(int,input().split()))
print(max(b))

 4
 34 556 34 34 24

556

In [25]:
l1= list(map(int,input().split()))
l1.sort()
second_largest = l1[-2]
print(second_largest)

 45 34 24 24 24

34

In [27]:
l1_number = list(range(1,11))
list_odd = l1_number[0::2]
print(list_odd)

[1, 3, 5, 7, 9]

In [31]:
n = int(input())
list_1 = []
for i in range(n):
    list_1.append(int(input()))

odd_largest = []
even_largest = []
for i in list_1:
    if i%2==0:
         even_largest.append(i)
    else:
        odd_largest.append(i)

odd_largest.sort()
even_largest.sort()
print("Largest Number odd",odd_largest[-1])
print("Largest Number even",even_largest[-1])

 4
 34
 345
 24
 231

Largest Number odd 34
Largest Number even 345

In [33]:
a = list(map(int,input("Enter the list").split()))
b = list(map(int,input("Enter the list").split()))
union = list(set().union(a,b)) 
union.sort()
print("union",union)

Enter the list 45 34 567 33
Enter the list 34 56 45 23

union [23, 33, 34, 45, 56, 567]

In [12]:
list1 = list(map(int,input().split()))
duplicate = []
for i in list1:
    if i not in duplicate and i in list1[list1.index(i)+1:]:
         duplicate.append(i)
   
duplicate

 345 34 23 56 34 5 5 64 34 56

[34, 56, 5]

In [3]:
l1 = list(map(int,input().split()))
unique = []

for i in l1:
    if i not in unique:
        unique.append(i)

unique

 34 23 23 34 2 14 5 1 5 2

[34, 23, 2, 14, 5, 1]

In [4]:
l1 = list(map(int,input().split()))
l1[0] = l1[0] + l1[-1]
l1[-1] = l1[0] - l1[-1]
l1[0] = l1[0] - l1[-1]

l1

 45 35 24 21 34 234

[234, 35, 24, 21, 34, 45]