In [3]:
class Python:
    def fun(self):
        print("Hii","Welcome")
pyth = Python()        
pyth.fun()

Hii Welcome

In [14]:
class Car:
    car = 0
    def __init__(self,name,id):
        self.name = name
        self.id = id
        Car.car+=1
    def printCarData(self):
        print("Name: ",self.name,"Id: ",self.id)
        print(Car.car)

c = Car("AUDI",12345678909876)
c.printCarData()
c = Car("AUDI",12345678909876)
c.printCarData()

Name:  AUDI Id:  12345678909876
1
Name:  AUDI Id:  12345678909876
2

In [57]:
class Employee:
    emp = 0
    def set_data(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        Employee.emp+=1

    def display_data(self):
        print(self.name)
        print(self.age)
        print(self.salary)
        print(self.emp)

emp = Employee()
emp.set_data("HAIDAR",21,45000)
emp.display_data()
emp1 = Employee()
emp1.set_data("Ali",10,345000)
emp1.display_data()

HAIDAR
21
45000
1
Ali
10
345000
2

In [28]:
class Employee:
    def __init__(self,n,a,s):
        self.name =  n
        self.age  = a
        self.salary = s
    def display_data(self):
        print(self.name)
        print(self.age)
        print(self.salary)

emp2 = Employee("Haidar",10,2220)
emp2.display_data()

Haidar
10
2220

In [41]:
class Number:
    # def __init__(self):
    #     self.number = 0
    def get_data(self):
        print(self.number)
    def set_data(self,num):
        if num>0:
            self.number = num
        else:
            print("Enter a Poasitive Number")
        
n1 = Number()        
n1.set_data(123)
n1.get_data()
n1.number

123

123

In [46]:
class Test:
    __x = 10
    def __init__(self):
        print("Hello")
        self.x = 43
test =  Test()
test.x

Hello

43

In [54]:
class Car:
    car = 0
    def __init__(self,name,id1):
        self.name = name
        self.id = id1
        Car.car+=1
    def printCarData(self):
        print("Name: ",self.name)
        print("ID: ",self.id)

c = Car("AUDI",12345678909876)
c1 =Car("BENZ",234562)
c2 = Car("BMW",400000)
print("Total Cars: ",Car.car)

Total Cars:  3

In [65]:
class Test:
    def __init__(self):
        self.variable = "Car"
        self.Change(self.variable)
    def Change(self,var):
        self.variable = "Bike"

obj = Test()
print(obj.variable)

Bike

In [ ]:
class Dogs:
    def __init__(self,name,)

In [9]:
class Calculator:
    def add(self,num1,num2):
        self.sum = num1 + num2
    def sub(self,num1,num2):
        self.sub = num1 - num2
class Advanced_Calculator(Calculator):
     def mul(self,num1,num2):
        self.multi = num1 * num2
     def div(self,num1,num2):
        self.div = num1 / num2

n1 = int(input())
n2 = int(input())
c = Advanced_Calculator()
c.add(n1,n2)
print(c.sum)
c.sub(n1,n2)
print(c.sub)
c.mul(n1,n2)
print(c.multi)
c.div(n1,n2)
print(c.div)

 3
 5

8
-2
15
0.6

In [ ]:
class Calculator: