In [4]:
x = "all is well"
# reverse_string = x[::-1]
string_rev= ""
for i in x:
    string_rev=i+string_rev
    
# reverse_string
string_rev

'llew si lla'

In [6]:
color = input("Enter your Favorite Color")
decimal_value = float(input("Enter any Decimal Value"))
interger_value = int(decimal_value)
print(f"Favorite Color::{color} and square of number::{interger_value**2}")

Enter your Favorite Color yellow
Enter any Decimal Value 2.2

Favorite Color::yellow and square of number::4

In [9]:
x = 23
y = 34

# using third variable
temp = x
x = y
y = temp
print(x,y)
x = 23
y = 34
# without third variable
x,y = y,x
print(x,y)

34 23
34 23

In [6]:
x = 454
y = 56
max = x if x>y else y
print(max)

454

In [5]:
x = 454
y = 566
z = 2340

tem_max = x if x>y else y
max_value = tem_max if tem_max>z else z

max_value

2340

In [47]:
x = 310
y = 34
z = 305
# x = 450
# y = 560
# z = 34

if (x>=y and x<=z) or (x<=y and x>=z):
    print(x)
elif (y>=x and y<=z) or (y<=x and y>=z):
    print(y)
else:
    print(z)

305

In [49]:
x = 3456
x = str(x)
x = int(x[::-1])
x

6543

In [72]:
x = 2
y = 4
z =3
a= 1
temp_small = x if x<=y else y
print(temp_small)
temp_small = temp_small if temp_small<=z else z
print(temp_small)
temp_small = temp_small if temp_small<=a else a
temp_small

2
2

1

In [94]:
n = int(input("Enter a your number"))
sqr=int(n**0.5) ** 2
if n>0:
    if sqr == n:
        print("prefect")
    else:
        print("not prefect")

Enter a your number 36

prefect

In [101]:
ch = input("Enter any chararcter")
if ch in "AEIOUaeiou":
    print("vowel")
else:
    print("Consonants")

Enter any chararcter g

Consonants

In [106]:
a =10
b = 4
sum=0
while a>=b:
    sum+=b
    b+=1

print(sum)

49

In [109]:
# Assign values to a and b
a = 40
b = 10

# Check if a is greater than or equal to b
if a >= b:
    print(f"Numbers between {a} and {b} (inclusive):")
    
    # Initialize a variable to start from a
    current = a
    
    # Use a while loop to print all numbers from a to b
    while current <= b:
        print(current)
        current += 1  # Increment current by 1
else:
    print("Error: a should be greater than or equal to b.")

Numbers between 40 and 10 (inclusive):

In [112]:
n = -234567
len(str(abs(n)))

6

In [121]:
n = int(input())
if n>0:
    if n%2==0:
        print("Positve and even")
    else:
        print("Positive and Odd")
else:
    if n==0:
        print("Zero")
    else:
        print("Negative")

 4

Positve and even

In [130]:
start  = int(input("Enter a the starting number of range"))
end = int(input("Enter a end the ending number of range"))

total = 0
current  = start

while current<=end:
    total+=current
    current+=1

print(total)

Enter a the starting number of range 1
Enter a end the ending number of range 10

55

In [7]:
N = int(input())
L = int(input())
R = int(input())

if (N>=L and N<=R) or (N<=L and N>=R):
    print("YES")
else:
    print("No")

 -1
 3
 4

No

In [8]:
string = input()

number_count = 0
alphabet_count = 0
for i in string:
    if i.isdigit():
        number_count+=1
    elif i.isalpha():
        alphabet_count+=1

print(number_count)
print(alphabet_count)

 234

3
0

In [9]:
def sum_of_all_numbers(start,end):
    total = 0
    for i in range(start,end+1):
        total+=i
    return total

print(sum_of_all_numbers(5,10))

45

In [10]:
def factorial(num):
    fact=1
    for i in range(1,num+1):
        fact = fact*i
    return fact

n = int(input())

if n<0:
    print("Error")
else:
    print(factorial(n))

 -1

Error

In [174]:
def distinct_list(list_values):
    list_new = []
    for i in list_values:
        if i not in list_new:
            list_new.append(i)
    return list_new 
l = [1,3,4,5,56,6,56,3,3,6]
print("Orginal List::",l)
print("Distinct List::",distinct_list(l))

Orginal List:: [1, 3, 4, 5, 56, 6, 56, 3, 3, 6]
Distinct List:: [1, 3, 4, 5, 56, 6]